.container {
  padding: 0 20px 40px 20px;
  max-width: 640px;
  margin: 0 auto;
}

.header {
  padding: 20px 20px 0 20px;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 48px;
  margin-right: 1vw;
}

.logo h1 {
  font-size: clamp(15px, 5vw, 24px);
  background: linear-gradient(120deg, #6435c9 -25%, #5d93ff 55%);
  background-clip: text;
  font-weight: 400;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.nav a {
  margin: 0 1vw;
  color: black;
}

.intro {
  font-size: 2rem;
  margin-bottom: 48px;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.heading {
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 0.5px;
  padding-bottom: 0.5rem;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 50px;
}

.postTitle {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.postTitle a {
  color: inherit;
}

.postDescription {
  margin-top: 0;
  margin-bottom: 12px;
  opacity: 0.65;
}
