.container {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.header a {
  transition: opacity 0.25s ease;
}

.header a:hover {
  opacity: 0.75;
}

/*.header p {
  opacity: 0.7;
  line-height: 1.5;
}*/

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: clamp(15px, 5vw, 24px);
  background: linear-gradient(120deg, #6435c9 -25%, #5d93ff 55%);
  background-clip: text;
  font-weight: 500;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  margin: 0 1vw;
  color: black;
}

.heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 0.5px;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 50px;
}

.postTitle {
  margin-bottom: 10px;
  font-size: 2rem;
}

.postTitle a {
  color: inherit;
}

.postDescription {
  margin-top: 0;
  margin-bottom: 12px;
  opacity: 0.65;
}
