.revue {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.revue input:focus {
  outline: none;
}

.revue button:hover {
  opacity: 0.75;
}

.revue button:active {
  opacity: 0.5;
}

.revue .subscribeIcon {
  display: block;
  filter: invert(55%) sepia(98%) saturate(2646%) hue-rotate(201deg)
    brightness(103%) contrast(101%);
}

.revue .checkmarkIcon {
  display: block;
  filter: invert(62%) sepia(48%) saturate(635%) hue-rotate(68deg)
    brightness(89%) contrast(86%);
}
